@media screen and (max-width:768px) {
    .header-categories {

        div.swiper-button-prev,
        div.swiper-button-next {
            padding: 0.0 !important;
            display: flex;
            height: fit-content;
            border-radius: 0.49rem !important;
        }

        div.swiper-button-next {
            left: -0.90rem !important;
        }

        div.swiper-button-prev {
            right: -0.90rem !important;
        }

    }
}

.special-comments .swiper-slide-next {
    opacity: 1 !important;
}

.header-categories {
    position: relative;

    .swiper {
        position: unset !important;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        border-radius: 8.098px;
        top: 45%;
    }

    .swiper-button-prev {
        z-index: 100 !important;
        right: 1rem !important;
        &::after {
            content:
            url('data:image/svg+xml,<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="icon"><g id="v6-icon (free)"><path id="icon_2" d="M16.0365 24.0547C15.7518 24.0547 15.4988 23.9598 15.309 23.77C14.8977 23.3904 14.8977 22.7261 15.309 22.3465L19.6427 17.9811L15.309 13.6473C14.8977 13.2677 14.8977 12.6034 15.309 12.2238C15.6886 11.8125 16.3529 11.8125 16.7325 12.2238L21.7938 17.2851C22.2051 17.6647 22.2051 18.329 21.7938 18.7086L16.7325 23.77C16.5427 23.9598 16.2896 24.0547 16.0365 24.0547Z" fill="%23080808"/></g></g></svg>') !important
        }
    }

    .swiper-button-next {
        z-index: 100 !important;
        right: unset !important;
        left: 1rem !important;
        &::after {
            content:
            url('data:image/svg+xml,<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="icon"><g id="v6-icon (free)"><path id="icon_2" d="M19.1773 11.1484C19.462 11.1484 19.7151 11.2433 19.9049 11.4331C20.3161 11.8127 20.3161 12.477 19.9049 12.8566L15.5711 17.2221L19.9049 21.5559C20.3161 21.9355 20.3161 22.5998 19.9049 22.9794C19.5253 23.3906 18.861 23.3906 18.4814 22.9794L13.42 17.918C13.0088 17.5384 13.0088 16.8741 13.42 16.4945L18.4814 11.4331C18.6712 11.2433 18.9243 11.1484 19.1773 11.1484Z" fill="%23080808"/></g></g></svg>') !important
        }
    }

}