@media screen and (max-width:768px) {
  .course-wrapper {
    gap: .5rem !important;
  }
}


.bounce-enter-active {
  animation: bounce-in 0.5s;
}

.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

.fadeInUp {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(7px);
    -webkit-transform: translateY(7px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse-bg {
  0% {
    background-color: #ddd;
  }

  50% {
    background-color: #d0d0d0;
  }

  100% {
    background-color: #ddd;
  }
}


.page-enter-active {
  transition: all 0.3s ease-out;
}

.page-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.slide-enter-active {
  transition: all 0.3s ease-out;
}

.slide-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-enter-from,
.slide-leave-to {
  transform: translateY(-40px);
  opacity: 0;
}


.layout-enter-active {
  transition: all 0.3s ease-out;
}

.layout-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.layout-enter-from,
.layout-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}


.nav-tabs {
  border-bottom: 1px solid var(--color-gray-400);
  gap: 120px;
  margin-bottom: 80px;
  margin-top: 80px;
  width: 100%;

  button {
    position: relative;
    padding-bottom: 21px;
    font-size: var(--h5-font-size);
    font-weight: 500;
    min-width: fit-content;

    &.active {
      font-weight: 900;

      &::before {
        content: " ";
        bottom: -4px;
        height: 6px;
        z-index: 4;
        background: var(--primary-color);
        width: 110%;
        left: 50%;
        transform: translate(-50%, 0);
        position: absolute;
      }
    }
  }
}

@media screen and (max-width:768px) {
  .nav-tabs {
    margin-top: 25px !important;
    margin-bottom: 25px !important;

    button {
      font-size: var(--h7-font-size) !important;


    }
  }
}

code {
  word-break: normal;
  white-space: break-spaces;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
  direction: ltr;
}