@tailwind base;
@tailwind components;
@tailwind utilities;





body {
    background: rgba(40, 107, 184, 0.08);
    font-family: var(--h2-font-family);
    direction: rtl;
    text-align: right;
    font-size: var(--h7-font-size);
    color: var(--body-text-color);
    min-height: 100vh;
    overflow-x: clip;
}

@media screen and (min-width:1024px) {
    .container {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

html {
    overflow-x: hidden
}

.v-popper__popper {
    font-size: 12px
}

.font-9 {
    font-size: var(--h9-font-size);
}


@layer components {
    .table-responsive {
        width: 100%;
        overflow-x: auto;
    }

    table {
        border: 1px solid var(--color-blue-gray-200);
        border-radius: 8px;
        width: 100%;
        background: var(--color-white);

        thead {
            border-bottom: 1px solid var(--color-blue-gray-200);
        }

        th,
        td {
            padding: 1rem;
            border: 1px solid var(--color-blue-gray-200);
            text-align: center
        }

        tbody {
            tr {
                &:hover {
                    background: var(--color-blue-gray-050)
                }
            }
        }
    }

    .card {
        @apply bg-white rounded shadow-md pt-2 pb-2 pr-4 pl-4;
    }

    .card-body {
        padding: 1rem
    }

    .btn {
        @apply relative w-fit items-center justify-center flex py-2 px-7 rounded transition-all ease-in delay-50;
        border-width: 2px;
        border-color: transparent;
        height: fit-content;

        &:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    .btn.btn-white {
        @apply border-none bg-white;
        color: var(--primary-color) !important;
    }

    .btn.btn-white:hover {
        @apply bg-slate-100
    }

    .input-group {
        position: relative;



    }

    .input-invalid-text {
        color: var(--color-error);
        margin-top: 4px;
    }

    .input-label {
        color: var(--color-blue-gray-700);
        font-weight: 600;
        font-size: var(--h8-font-size);
        margin-bottom: 0.29rem;
        display: block;
    }

    .form-control {
        background: var(--color-blue-gray-050);
        border-radius: 18.505px;
        color: var(--color-black);
        width: 100%;
        padding: 13.55px;


        &::placeholder {
            color: var(--color-blue-gray-400);
        }

        &.outline {
            border: 1.5px solid var(--color-dark-light);
            background: transparent;
            padding: 0.75rem 12px;
            border-radius: 6px;
            font-size: var(--h7-font-size);

            &::placeholder {
                font-size: var(--h7-font-size);
                color: var(--color-dark-light);
            }

            &.invalid-data {
                border-color: var(--color-error) !important;
            }

            &:focus {
                border-color: var(--primary-color);
            }

            &:disabled {
                background: #F2F2F2;
            }
        }
    }
}

p {
    line-height: normal;
}

.text-banner {
    background: linear-gradient(270deg, #286BB8 0%, #5FA4F0 23.78%, #286BB6 49.83%, #62A6F3 72.74%, #286BB8 100%);
    width: 100%;
    font-size: var(--h5-font-size);
    text-align: center;
    padding: 0.75rem;
    color: white;
}

.ck-editor {
    width: 100% !important;
}

.t__close-btn {
    color: var(--color-gray-600) !important;
}

.h__toast {
    background: var(--color-white) !important;
    color: var(--color-black) !important;
    box-shadow: 0px 10px 36px rgba(15, 15, 16, 0.2) !important;
    border-radius: 14px !important;
    padding: 0 0 0 1.5rem !important;
    min-width: 400px !important;
    max-width: 100% !important;

}

.Vue-Toastification__toast-body {
    padding: 1.5rem 1rem;
}

.Vue-Toastification__progress-bar {
    background: #F0EFEF !important;
    width: 94% !important;
    right: unset !important;
    left: -68px !important;
}

.toast__icon {
    height: unset !important;
    width: 88px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: unset !important;
}

.Vue-Toastification__toast--rtl {
    margin-left: auto !important;
    margin-right: unset !important;
}

.Vue-Toastification__toast {
    font-family: var(--t6-font-family) !important;
    font-size: var(--t6-font-size) !important;
}
.Vue-Toastification__container{
    z-index: 9999999 !important;
}
.card-loading {
    opacity: .4;
    z-index: 1;
    position: relative;

    &::after {
        content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;
    }
}

@media screen and (max-width:768px) {
    div.h__toast {
        margin: 30px auto !important;
        width: 85% !important;
        display: flex;
        min-width: unset !important;
        min-height: 72px !important;
        margin-bottom: 0 !important;
    }

    .Vue-Toastification__toast-body {
        padding: 1.5rem 12px !important;
        font-family: var(--t6-font-family) !important;
        font-size: var(--t6-font-size) !important;
    }
}

:root {
    --h1-font-family: "iransans-bold";
    --h2-font-family: "iransans";
    --h1-font-size: 50px;
    --h2-font-size: 40px;
    --h3-font-size: 30px;
    --h4-font-size: 25px;
    --h5-font-size: 20px;
    --h6-font-size: 18px;
    --h7-font-size: 16px;
    --h8-font-size: 14px;
    --h9-font-size: 12.147px;
    --primary-color: #286BB8;
    --secondary-color: #E4EDF8;
    --color-muted: #656565;
    --color-black: #080808;
    --color-error: #FF5656;
    --color-white: white;
    --color-blue-gray-100: #EEF4FB;
    --color-blue-gray-200: #BCCCDC;
    --color-blue-gray-400: #829AB1;
    --color-blue-gray-050: #F0F4F8;
    --color-blue-gray-600: #486581;
    --color-blue-gray-700: #334E68;
    --color-gray-300: #C1C1C1;
    --color-gray-200: #f7f7f7;
    --color-gray-400: #464646;
    --color-dark-light: #9D9D9D;
    --body-text-color: #080808;
    --body-bg-color: rgba(40, 107, 184, 0.08);
}

html {
    scroll-behavior: smooth;
}

.input {
    position: relative;
}
h1 {
    font-size: 50px;
    font-weight: 700;
    font-family: var(--h1-font-family);
}

img {
    object-fit: cover;
}

.router-link-exact-active {
    @apply text-blue
}

a {
    display: inline-block;
}

.section-title {
    font-size: var(--h4-font-size);
    font-weight: 400;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
    font-weight: 400;
}

h4 {
    font-size: 25px;
    font-weight: 400;
}

h5 {
    font-size: 20px;
    font-weight: 400;
}

h6 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

@layer base {
    @font-face {
        font-family: "iransans";
        src: local('iransans'), url(../fonts/IRANSans/woff2/IRANSansWeb_Light.woff2);
        font-display: swap;
    }

    @font-face {
        font-family: "iransans-bold";
        src: local('iransan-bold'), url(../fonts/IRANSans/woff2/IRANSansWeb_Bold.woff2);
        font-display: swap;
    }

    a {
        @apply transition-all delay-50
    }

    a:hover {
        @apply text-blue
    }

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }



    textarea {
        outline: none !important;
    }

    input {
        outline: none !important;
        padding: .5rem 1rem;
        color: black;
        background: white;
        font-size: var(--h7-font-size);
        font-weight: 400;
    }

    input::placeholder {
        font-size: var(--h7-font-size);
        color: rgba(8, 8, 8, 0.25);
    }
}

@media screen and (max-width:1536px) {
    body {
        font-size: var(--h8-font-size);

    }
}

@media screen and (max-width:768px) {
    .btn {
        padding: .60rem 1.2rem;
        font-size: var(--h9-font-size);
    }

    .section-title {
        font-weight: 600;
    }

    :root {
        --h2-font-size: 20px;
    }
}